body{
  background-color: #AED9DA;
}
.img-class {
    display: block ;
    max-width: 25%;
    margin: auto;
}
h2{
  font-family: Helvetica;
  text-align: center;
}
#main{
  font-family: Helvetica;
}
#image{
  border: solid 5px white;
}
